<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AroundMe</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="" alt="AroundMe Logo">
        </div>
        <nav>
            <ul class="horiz-menu"><!-- ul>li*3>a -->
                <li><a href="/news">Новости</a></li>
                <li><a href="/fav">Избранное</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
        <div class="side">
            <div class="search-bt">
                <button class="search">Поиск</button>
                <input type="text" class="text-input">
            </div>
            <div class="trips">
                <p>Trips</p>
                <button>Side menu</button>
            </div>
        </div>
    </header>
    <main>
        <div class="slider"></div>
        <div class="description">
            <div class="cent-desc">
                <h1>Африка</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quidem? Explicabo, laborum. Adipisci
                    veritatis, earum ex nihil magni consectetur quasi explicabo deleniti officia ratione quae temporibus
                    eum, itaque consequatur rem.</p>
                <button class="button-main inactive">Исследовать</button>
            </div>
        </div>
        <div class="gallery">
            <div class="cards">
                <div class="card">
                    <div class="card-desc">
                        <h4>Национальный парк Амбоселли, Кения</h4>
                        <div class="rating">
                            <div class="circle on"></div>
                            <div class="circle on"></div>
                            <div class="circle on"></div>
                            <div class="circle off"></div>
                            <div class="circle off"></div>
                        </div>
                    </div>
                    <div class="card-image">
                        <img src="" alt="Национальный парк Амбоселли, Кения">
                        <button class="round-bt inactive">добавить в Избранное</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-desc">
                        <h4>Национальный парк Амбоселли, Кения</h4>
                        <div class="rating">
                            <div class="circle on"></div>
                            <div class="circle on"></div>
                            <div class="circle on"></div>
                            <div class="circle off"></div>
                            <div class="circle off"></div>
                        </div>
                    </div>
                    <div class="card-image">
                        <img src="" alt="Национальный парк Амбоселли, Кения">
                        <button class="round-bt inactive">добавить в Избранное</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-desc">
                        <h4>Национальный парк Амбоселли, Кения</h4>
                        <div class="rating">
                            <div class="circle on"></div>
                            <div class="circle on"></div>
                            <div class="circle on"></div>
                            <div class="circle off"></div>
                            <div class="circle off"></div>
                        </div>
                    </div>
                    <div class="card-image">
                        <img src="" alt="Национальный парк Амбоселли, Кения">
                        <button class="round-bt inactive">добавить в Избранное</button>
                    </div>
                </div>
            </div>
            <div class="controls">
                <div class="arrows">
                    <button class="round-bt left-arrow">Влево</button>
                    <button class="round-bt right-arrow">Вправо</button>
                </div>
                <div class="slide-nums">
                    <span class="num-slide current-slide">01</span>
                    <div class="line"></div>
                    <span class="num-slide last-slide">09</span>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>