<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo">Celtie tours</div>
        <nav>
            <ul class="horizontal-menu">
                <li><a href="/insta">Instagram</a></li>
                <li><a href="/facebook">FaceBook</a></li>
            </ul>
        </nav>
        <div class="phone-number">(+353) 7 856 7860</div>
        <div class="burger-menu">
            <button>бургер меню</button>
        </div>
    </header>
    <main>
        <div class="first-screen">
            <div class="left-side">
                <div class="slider">
                    <div class="1 on"></div>
                    <div class="2 off"></div>
                    <div class="3 off"></div>
                    <div class="4 off"></div>
                    <div class="5 off"></div>
                </div>
                <h5>
                    <------- Scroll</h5>
            </div>
            <div class="center">
                <div class="desc">
                    <h1>Туры по Ирландии</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, nihil similique fugiat nulla
                        impedit,
                        sed quibusdam adipisci eos delectus eligendi et corrupti fugit iure soluta rem ratione
                        exercitationem quae rerum.</p>
                    <a href="">Забронировать тур ------></a>
                </div>
            </div>
            <div class="right-side">
                <div class="arrows">
                    <button class="left-arrow">Влево</button>
                    <button class="right-arrow">Вправо</button>
                </div>
                <div class="card">
                    <div class="card-desc">
                        <h5>Наш самый популярный тур</h5>
                        <h4>Замечательный 8-дневный поход на Изумрудный остров</h4>
                        <a href="">Забронировать тур ------></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-desc">
                        <h5>Наш самый популярный тур</h5>
                        <h4>Замечательный 8-дневный поход на Изумрудный остров</h4>
                        <a href="">Забронировать тур ------></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-desc">
                        <h5>Наш самый популярный тур</h5>
                        <h4>Замечательный 8-дневный поход на Изумрудный остров</h4>
                        <a href="">Забронировать тур ------></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-desc">
                        <h5>Наш самый популярный тур</h5>
                        <h4>Замечательный 8-дневный поход на Изумрудный остров</h4>
                        <a href="">Забронировать тур ------></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-screen">
            <div class="left-side">
                <div class="slider">
                    <div class="1 off"></div>
                    <div class="2 on"></div>
                    <div class="3 off"></div>
                    <div class="4 off"></div>
                    <div class="5 off"></div>
                </div>
                <h5>
                    <------- Scroll</h5>
            </div>
            <div class="center">
                <h1>Туры</h1>
                <div class="big-card">
                    <div class="description">
                        <h2>Замечательный 8-дневный поход на Изумрудный остров</h2>
                        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quia ullam hic autem,
                            laudantium harum eaque perferendis aspernatur et numquam unde sunt, optio in! Accusamus,
                            sapiente provident! Ipsa, impedit odit?</h6>
                        <ul>
                            <li>Макс., 15 человек</li>
                            <li>Люкс транспорт</li>
                            <li>Завтраки и ужины включены</li>
                        </ul>
                        <div class="line"></div>
                        <h5>Длительность: 8 дней/7 ночей</h5>
                        <div class="price-list">
                            <h1>1247$</h1>
                            <div class="vert-line"></div>
                            <h3>Узнать больше ---></h3>
                        </div>
                    </div>
                    <div class="image">
                        <img src="" alt="Замечательный 8-дневный поход на Изумрудный остров">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>