<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">Celtie tours</div>
        <nav>
            <ul class="horizontal-menu">
                <li><a href="/insta">Instagram</a></li>
                <li><a href="/facebook">FaceBook</a></li>
            </ul>
        </nav>
        <div class="phone-number">(+353) 7 856 7860</div>
        <div class="burger-menu">
            <button>бургер меню</button>
        </div>
    </header>
    <main>
        <div class="left-side-1">
            <div class="slider">
                <div class="on1"></div>
                <div class="off2"></div>
                <div class="off3"></div>
                <div class="off4"></div>
                <div class="off5"></div>
            </div>
            <h5>
                <------- Scroll</h5>
        </div>
        <div class="first-screen">
            <div class="center-1">
                <div class="desc">
                    <h1>Туры по Ирландии</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, nihil similique fugiat nulla
                        impedit,
                        sed quibusdam adipisci eos delectus eligendi et corrupti fugit iure soluta rem ratione
                        exercitationem quae rerum.</p>
                    <a href="">Забронировать тур ------></a>
                </div>
            </div>
            <div class="right-side-1">
                <div class="arrows">
                    <button class="left-arrow"><-</button>
                    <button class="right-arrow">-></button>
                </div>
                <div class="card">
                    <div class="card-desc">
                        <h5>Наш самый популярный тур</h5>
                        <h4>Замечательный 8-дневный поход на Изумрудный остров</h4>
                        <a href="">Забронировать тур ------></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-desc">
                        <h5>Наш самый популярный тур</h5>
                        <h4>Замечательный 8-дневный поход на Изумрудный остров</h4>
                        <a href="">Забронировать тур ------></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-desc">
                        <h5>Наш самый популярный тур</h5>
                        <h4>Замечательный 8-дневный поход на Изумрудный остров</h4>
                        <a href="">Забронировать тур ------></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-desc">
                        <h5>Наш самый популярный тур</h5>
                        <h4>Замечательный 8-дневный поход на Изумрудный остров</h4>
                        <a href="">Забронировать тур ------></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="second-screen">
            <div class="left-side-2">
                <div class="slider">
                    <div class="1 off"></div>
                    <div class="2 on"></div>
                    <div class="3 off"></div>
                    <div class="4 off"></div>
                    <div class="5 off"></div>
                </div>
                <h5>
                    <------- Scroll</h5>
            </div>
            <div class="center-2">
                <h1>Туры</h1>
                <div class="big-card-2">
                    <div class="description">
                        <h2>Замечательный 8-дневный поход на Изумрудный остров</h2>
                        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quia ullam hic autem,
                            laudantium harum eaque perferendis aspernatur et numquam unde sunt, optio in! Accusamus,
                            sapiente provident! Ipsa, impedit odit?</h6>
                        <ul>
                            <li>Макс., 15 человек</li>
                            <li>Люкс транспорт</li>
                            <li>Завтраки и ужины включены</li>
                        </ul>
                        <div class="line"></div>
                        <h5>Длительность: 8 дней/7 ночей</h5>
                        <div class="price-list">
                            <h1>1247$</h1>
                            <div class="vert-line"></div>
                            <h3><a>Узнать больше -></a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side-2">
                <div class="image">
                    <img src="" alt="6-дневный делюкс тур по Ирландским замкам">
                    <h5>Древняя Ирландия</h5>
                    <h3>6-дневный Делюкс Тур по Ирландским Замкам</h3>
                </div>
                <div class="controls-2">
                    <div class="arrows">
                        <button class="left-arrow">Влево</button>
                        <button class="right-arrow">Вправо</button>
                    </div>
                    <div class="slide-nums">
                        <span class="num-slide current-slide">01</span>
                        <div class="line"></div>
                        <span class="num-slide last-slide">10</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="third-screen">
            <div class="left-side-3">
                <div class="slider">
                    <div class="1 off"></div>
                    <div class="2 off"></div>
                    <div class="3 on"></div>
                    <div class="4 off"></div>
                    <div class="5 off"></div>
                </div>
                <h5>
                    <------- Scroll</h5>
            </div>
            <div class="center-3">
                <h1>Направления</h1>
                <img src="" alt="Метка">
                <span>Графство Клэр</span>
                <h3>Утёсы Мохер</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste optio explicabo fugiat non assumenda eveniet cupiditate vel obcaecati? Vero maiores accusamus consectetur ab aspernatur. Voluptates non iste enim quae quibusdam.</p>
                <img src="" alt="ОМГ какая красивая картинка">
            </div>
            <div class="right-side">
                <div class="big-card-3">
                    <img src="" alt="ОМГ ещё более красивая картинка">
                </div>
                <div class="controls-3">
                    <div class="arrows">
                        <button class="left-arrow">Влево</button>
                        <button class="right-arrow">Вправо</button>
                    </div>
                    <div class="slide-nums">
                        <span class="num-slide current-slide">02</span>
                        <div class="line"></div>
                        <span class="num-slide last-slide">22</span>
                    </div>
                </div>
            </div>
        </div> -->

    </main>
    <footer></footer>
</body>

</html>